# Entorno virtual
venv/
.env

# Archivos de base de datos
*.sqlite3

# Python temporales
__pycache__/
*.py[cod]
*.log

# Migraciones y bytecode
**/migrations/__pycache__/
**/migrations/*.pyc

# VSCode
.vscode/

# Node & Frontend
node_modules/
dist/
.fuguaccion-frontend/.next/
funguaccion-frontend/node_modules/
funguaccion-frontend/.env
funguaccion-frontend/.DS_Store
